.header{
    background-color: purple;
    padding: 1rem 1rem 0 ;
    border: 1px solid black;
}
.dashboard{
    margin-right: 75%;
    border: 1px solid black;
    text-align: center;
}
li{
    list-style: none;
    
}
.foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}